/* Common styles*/
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
}

/* Foot Section styles */

.foot-section {
    background-color: #11122b;
    color: #cbcbcb;
    font-family: 'Ubuntu Condensed', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    margin-top: -4px;
}


.foot-section > .foot-wrapper > .banner-image {
    display: flex;
    justify-content: center;
}

.foot-section > .foot-wrapper > .banner-image img {
    width: 180px;
    height: 100%;
    /*filter:brightness(50%);*/
    opacity:0.5;

}
.foot-section > .foot-wrapper > .contact-hours-wrappers{
    display: flex;
    justify-content: center;
    align-items: center;
}


.foot-section > .foot-wrapper > .contact-hours-wrappers span {
    margin-left: 10px;    
    margin-right: 10px;
    font-size: 1em;
    letter-spacing: 2px;

   
}

.foot-section > .foot-wrapper > .contact-hours-wrappers > .phone {
    color: #858585;
    margin-right: 30px;
    transition: 0.5s;
}

.foot-section > .foot-wrapper > .contact-hours-wrappers > .phone:hover {
    color: #cea135;
    margin-right: 30px;
}

.foot-section > .foot-wrapper > .contact-hours-wrappers > .hours {
    color: #cea135;
    font-size: 0.8em;
    text-transform: uppercase;
}

.foot-section > .foot-wrapper > .links-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
}

.foot-section > .foot-wrapper > .social-media-icons-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.foot-section > .foot-wrapper > .social-media-icons-wrapper a{
    font-size: 1.5em;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;
}

.foot-section > .foot-wrapper > .social-media-icons-wrapper a:hover{
    color: #cea135;
}

.foot-section > .foot-wrapper > .copyright-wrapper {
    margin-bottom: 42px;
    color: #858585;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    
}